body
{
  margin-top: 10%;
}


#button1
{
      width: 100px;
      height: 100px;
      background: rgba(255, 197, 0, 0.96);
      border: none;
      margin-left: 10%;
      margin-right: 25%;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      cursor: pointer;

  }


  #button2
  {
    width: 100px;
    height: 100px;
    background: orangered;
    border: none;
    margin-left: 10%;
    margin-right: 25%;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    cursor: pointer;

  }

  /*#button1:hover,#button2:hover {background-color:thistle}*/

#button1:active,#button2:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  /*#button1:hover {background-color:thistle}

#button1:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}*/
